<!--&nbsp; (espacio en blanco)-->
<!--<br> (salto de linea)-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- #region Configuracion basica -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- #endregion -->

    <!-- #region Titulo que se vizualisa en la pestaña del navegador -->
    <title>Mas Farmacia</title>
    <!-- #endregion -->

    <!-- #region Importacion de los estilos CSS y BOOSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <!-- #endregion -->
  </head>

  <body>
    <header>
      <div class="container-fluid">
        <!--#region Barra Superior-->
        <div class="row barraSuperior">
          <div class="col-xs-12 col-lg-12">
            <a href="#">Sucursales</a>
            <a href="#">Como Comprar?</a>
          </div>
        </div>
        <!--#endregion-->
        
        <!--#region Barra Busqueda-->
        <div class="row SearchBar">
          <div class="col-md-6 col-lg-3 logoSearchBar justify-content-center">
            <a href="www.google.com">
              <img src="/resources/LogoNavBar.jpg" width="150" height="65px">
            </a>
          </div>

          <div class="d-block d-sm-block d-md-none col-md-6 carritoSM">
            <div class="">
              <a href="www.google.com" >
                <img src="/resources/CarritoNavBar.jpg" width="50" height="50px"><br>
                <h9 >Ver Carrito</h9>
              </a>
          </div>
          </div>

          <div class="col-md-12 col-lg-6 ">
            <div class="input-group mb-3 ">
              <input type="text" class="form-control busqueda" placeholder="¿ Que Estas Buscando ?" aria-label="¿ Que Estas Buscando ?" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary botonBusqueda" type="button">Buscar</button>
              </div>
            </div>
          </div>

          <div class="d-none d-sm-none d-md-block col-lg-3 carritoPC ">
            <div class="contenedorCarrito">
              <a href="www.google.com" >
                <img src="/resources/CarritoNavBar.jpg" width="50" height="50px"><br>
                <h9 >Ver Carrito</h9>
              </a>
          </div>
          </div>


        </div>
        <!--#endregion-->

        <!--#region Barra Categorias Principales-->
        <div class="row">
          <div class="col-md-12 col-lg-12 Categorias">
            <nav class="navbar navbar-expand-md ">
              
              <!-- Collapse Button -->
              <button class="navbar-toggler ButtonCollapse" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                Explorar
              </button>
            
              <!--navbar Buttons-->
              <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                      Belleza
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Belleza 1</a>
                      <a class="dropdown-item" href="#">Belleza 2</a>
                      <a class="dropdown-item" href="#">Belleza 3</a>
                    </div>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                      Salud
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Salud 1</a>
                      <a class="dropdown-item" href="#">Salud 2</a>
                      <a class="dropdown-item" href="#">Salud 3</a>
                    </div>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                      Maquillaje
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Maquillaje 1</a>
                      <a class="dropdown-item" href="#">Maquillaje 2</a>
                      <a class="dropdown-item" href="#">Maquillaje 3</a>
                    </div>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                      Maternidad y Bebes
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Maternidad y Bebes 1</a>
                      <a class="dropdown-item" href="#">Maternidad y Bebes 2</a>
                      <a class="dropdown-item" href="#">Maternidad y Bebes 3</a>
                    </div>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                      Cuidado Corporal
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Cuidado Corporal 1</a>
                      <a class="dropdown-item" href="#">Cuidado Corporal 2</a>
                      <a class="dropdown-item" href="#">Cuidado Corporal 3</a>
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
        <!--#endregion-->

      </div>
    </header>
    
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <!--#endregion-->
  
  </body>
</html>
