

/* Barra Categorias Principales */

.navbar a{

    color:#4f4f4f;
}

.Categorias{
    background-color: #e5e5e5;
    height: 50px;
}

.ButtonCollapse{
    display: block;
    margin: auto;
    width: 100%;
    background-color: #e5e5e5;
}

.navbar .nav-item{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    
}
.navbar .navbar-nav .dropdown-item{
    text-align: center;
}

.SearchBar{
    background-color: #95bb32;
    
}

.carritoPC{
    text-align: right;
    margin-top: 25px;
    margin-right: 0px;
    margin-bottom: 25px;
    width: 150px;
}

.carritoPC h9{
    font-weight: bold;
    color:#4f4f4f;

}

.contenedorCarrito {
    text-align: center;
    width: 150px;
    display: block;
    padding-right: 30px;
    margin: 0 0 0 auto;
}

.carritoSM {
    text-align: center;
    padding-top: 25px;
    padding-right: 30px;
    margin: 0 0 0 auto;
    width: 150px;
}

.carritoSM h9{
    font-weight: bold;
    color:#4f4f4f;
}

.logoSearchBar{
    
    margin-top: 25px;
    padding-left:30px;
    margin-bottom: 25px;
    width: 150px;
}

.busqueda{
    margin-top: 40px;
    border-radius: 100px;
}

.botonBusqueda{
    margin-top: 40px;
    border-radius: 100px;
    background-color: #6c757d;
    color:#ffff;

}
.barraSuperior{
    background-color: black;
    padding-bottom: 5px;
    text-align: right;
}

.barraSuperior a{
    font-size: 14px;
    margin-left:10px ;
    margin-right: 10px;
    color:#Ffff;
}

.CarritoHTMLContainer{
    background-color: black;
}

.CarritoHTML{
    width: 300px;
}