

/* Barra Categorias Principales */

.navbar a{

    color:#4f4f4f;
}

.ButtonCollapse{
    display: block;
    margin: auto;
    width: 100%;
    background-color: #e5e5e5;
}

.navbar .nav-item{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    
}
.navbar .navbar-nav .dropdown-item{
    text-align: center;
}

.SearchBar{
    background-color: #95bb32;
    
}

.carritoPC{
    text-align: right;
    margin-top: 25px;
    margin-right: 0px;
    margin-bottom: 25px;
    width: 150px;
}

.carritoPC h9{
    font-weight: bold;
    color:#4f4f4f;

}

.contenedorCarrito {
    text-align: center;
    width: 150px;
    display: block;
    padding-right: 30px;
    margin: 0 0 0 auto;
}

.carritoSM {
    text-align: center;
    padding-top: 25px;
    padding-right: 30px;
    margin: 0 0 0 auto;
    width: 150px;
}

.carritoSM h9{
    font-weight: bold;
    color:#4f4f4f;
}

.logoSearchBar{
    
    margin-top: 25px;
    padding-left:30px;
    margin-bottom: 25px;
    width: 150px;
}

.busqueda{
    margin-top: 40px;
    border-radius: 100px;
}

.botonBusqueda{
    margin-top: 40px;
    border-radius: 100px;
    background-color: #6c757d;
    color:#ffff;

}
.barraSuperior{
    background-color: black;
    padding-bottom: 5px;
    text-align: right;
}

.barraSuperior a{
    font-size: 14px;
    margin-left:10px ;
    margin-right: 10px;
    color:#Ffff;
}

.CarritoHTMLContainer{
    background-color: black;
}

.CarritoHTML{
    width: 300px;
}
.card-columns .card {
    display: inline-block;
    width: 90%;
    border:0
    
  }

  .card-columns{
    padding:5px;
  }

.card{
  border:0.5px solid #95bb32 !important;
}


.btnprimary{
  background:#95bb32;
  color:#4f4f4f;
  width: 100%;
  border-radius: 0;
  border:0;
  height: 60px;
  
}

.card-block{
  text-align: center;
  border-radius: 0;
}

.color{
  background:black;
  color:#4f4f4f;
}
.card{
    border-radius: 0;
    width:85%;
}

.card-title{
    font-weight: normal;
    font-size: 29px;
    margin-top:20px;
    color:#4f4f4f;
}

.card-subtitle{
    color:#4f4f4f;
    font-weight: normal;
    margin-top:15px;
    margin-bottom:20px;
    font-size: 10px;
}
.redondo{
  width: 15px;
  height: 15px;
  opacity:0.7;
  margin:7px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  
  background:#95bb32 !important;
}
.carousel-indicators{
    margin-top:100px;
}

  /*fotos dentro de las cards*/
  .card-img-top {
    width: 100%;
    max-height: 200px !important;
   
  }

.flechitaCardsRight{
    text-align: right;
    margin: auto;

}
.flechitaCardsLeft{
    text-align: left;
    margin: auto;

}

.carousel-control-next{
    opacity: 0;
}
.carousel-control-prev{
    opacity: 0;
}

.carousel-control-next:active{
    opacity: 0;
}
.carousel-control-prev:active{
    opacity: 0;
}
